@import '../../common_projects_utilities/css/font-awesome', '../../common_projects_utilities/css/reset', '../../common_projects_utilities/css/social-networks', '../../common_projects_utilities/css/footer';

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
.content {
    width: 99%;
    max-width: 940px;
    margin: auto;
}

/* Titular */
.title {
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: #000000;

    margin-bottom: 6px;
}

/* Subtítulo */
.subtitle {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: #000000;

    margin-bottom: 15px;
}

/* Leyenda */
.legend {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.legend span {
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #000000;
    position: relative;
}

.legend span.diario::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -24px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #99d8c9;
}

.legend span.movil::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -24px;
    transform: translateY(-50%);
    width: 16px;
    height: 2px;
    background-color: #2ca25f;
}

.axis {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #000000;
}

/* Selector */
.selector {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}
.selector #provincias {
    font-size: 17px;
    font-family: 'Roboto';
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
}

/* Gráfico */
#chart {
    height: 300px;
    width: 100%;
    max-width: 960px;

    margin-bottom: 20px;
}

#bar-chart {
    width: 100%;
    height: 30px;

    background-color: #f0f0f0;
    margin-bottom: 20px;

    position: relative;

    #una-dosis, #pauta-completa {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
    }

    #pauta-completa {
        background-color: #3182bd;
        width: 0%;
        transition: width 1s;
    }

    #una-dosis {
        background-color: #9ecae1;
        width: 0%;
        transition: width 1s;
    }

    #texto-una-dosis {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0%;

        transition: left 1s;
    }

    .line-70 {
        position: absolute;
        border: 0.5px solid #353535;
        top: -5px;
        left: 70%;
        height: 40px;
    }
}

/** Fuente */
.data-source {
    opacity: 0.57;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.18px;
    text-align: right;
    color: #000000;
}

.tooltip-vacunas {  
    display: none;
    opacity: 0;
    padding: 5px;
    pointer-events: none;
    position: absolute;
    width: 105px;
    height: auto;
    z-index: 1001;
    box-sizing: border-box;

    font-size: 12px;
    text-align: left;
    font-family: 'Roboto';
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: 1px solid;
    border-radius: 5px;
}

@media only screen and (max-width: 767px){
    .content {
        width: 100%;
        box-sizing: border-box;
        padding: 0 16px;
    }
    .tooltip {
        font-size: 10.5px;
        width: 90px;
    }
}

@media only screen and (max-width: 525px){    
    .title, .subtitle {
        text-align: left;
    }
    .legend {
        flex-direction: column;
        margin: 0px 0px 20px 32px;
    }
    .legend span:nth-child(2){
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .data-source span {
        display: block;
    }
}